.footer {
  padding: 80px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    display: flex;
    cursor: pointer;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__item {
    color:  #c8c7d8;
    font-family: $font-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    :hover {
        color: $primary-color;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__icon:hover .footer__path {
    fill: $primary-color;
  }
}
